<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

<script>
$('#createNew').on('click', function() {
	console.log("createNewShow");
});
function handleSelect(elm)
{
window.location = "/show/genre/" + elm.value;
}

function handleSelect1(elm)
{
window.location = "/show/year/" + elm.value;
}

function handleSelect2(elm)
{
// console.log(loc);
window.location = "/show/" + elm.value + "/reviews";
}

function handleSelect3(elm)
{
// console.log(loc);
window.location = "/show/" + elm.value + "/newReview";
}


function handleSelect4(elm)
{
// console.log(loc);
window.location = "/show/" + elm.value;
}

function handleSelect5(elm)
{

window.location = "/show/" + elm.value + "/review/delete";
}

function handleSelect6(elm)
{

window.location = "/show/tweets/" + elm.value;
}
function handleSelect7(elm)
{

window.location = "/show/youtube/" + elm.value;
}
</script>

<body>
	<center>
  {{#each tv}}
  <article class = "genres">
  	<h2 class="title">{{this.title}}</h2>
  	<hr>
    <p class="year">Release Year: {{this.year}}</p>
		<hr>
  </article>
  {{else}}

  <article>
      <h1>There are no shows of this genre yet. :(</h1>
      <a href="/show/addShow">Write your first post!</a>
  </article>
  {{/each}}
</center>



</body>
